<div class="add-task">
    <!-- ko ifno: isActive -->
    <span class="add-task__activate" data-bind="visible: !isActive(), click: toggleForm">Add new task</span>
    <!-- /ko -->
    <div class="add-task__form" data-bind="visible: isActive">
        <input type="text" class="add-task__input" placeholder="Task title.." data-bind="value: taskTitle"/>
        <textarea class="add-task__textarea" name="description" cols="30" rows="3" data-bind="value: taskDescription" draggable="false"></textarea>
        <div class="add-task__action-list">
            <button class="add-task__button -close" type="button" data-bind="click: toggleForm">Close</button>
            <button class="add-task__button" type="button" data-bind="click: addTaskClick">Add</button>
        </div>
    </div>
</div>
