.add-task
    lib-m(10px)
    color color-white
    text-align center
    background color-black

.add-task__activate
    display block
    cursor pointer
    transition color, background-color animation-speed
    &:hover
        font-weight bold
        color color-black
        background white
        
.add-task__form
    display flex
    flex-direction column
    lib-p(10px)
    
.add-task__input
.add-task__textarea
    lib-p-hor(10px)
    border 1px solid color-black
    outline 0
    
.add-task__textarea
    resize none

.add-task__action-list
    display flex
    flex-direction row
    justify-content space-between

.add-task__button
    flex 1
    margin-top 10px
    background color-white
    border 1px solid color-white
    cursor pointer
    transition color, background-color, border animation-speed
    &:hover
        font-weight bold
        color color-white
        background color-black
    &:nth-of-type(2n)
        margin-left 10px
    &:nth-of-type(2n + 1)
        margin-right 10px