<div class="board-wrapper">
    <div class="board-main-content">
        <div class="board__canvas">
            <div class="board__content" data-bind="scroll: {x: true, y: false}">
                <!--<h1 data-bind="text: title"></h1>-->
                <!-- ko foreach: statuses -->
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list__label">
                            <span data-bind="text: label"></span>
                        </div>
                        <div class="list__content" data-bind="scroll: {x: false, y: true}">
                            <!-- ko component: { name: 'task-list', params: {index: $index(), tasks: tasks}} --><!-- /ko -->
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <div class="text-8bit" data-bind="visible: statusEmpty">
                    Please select the project ...
                </div>
            </div>
        </div>
    </div>
</div>