.text-8bit
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    display inline-block
    box-sizing content-box
    padding 10px
    overflow hidden
    border none
    lib-font-size(70)
    color color-white
    text-align center
    -o-text-overflow ellipsis
    text-overflow ellipsis
    text-shadow 5px 5px 0 color-black
    animation: blink 2s linear infinite;

@keyframes blink {
    0% {
        color: color-secondary;
    }
    50% {
        color: color-white;
    }
    100% {
        color: color-secondary;
    }
}