.board-wrapper 
    position  absolute
    left  0
    right  0
    top  0
    bottom  0


.board-main-content 
    height  100%
    display  flex
    flex-direction  column
    margin-right  0
    transition  margin .1s ease-in


.board__canvas 
    position  relative
    flex-grow  1


.board__content 
    user-select  none
    white-space  nowrap
    margin-bottom  10px
    overflow-x  auto
    overflow-y  hidden
    padding-bottom  30px
    position  absolute
    top  0
    right  0
    bottom  0
    left  0
