.list-wrapper
    width 270px
    margin 0 5px
    height 100%
    box-sizing border-box
    display inline-block
    vertical-align top
    white-space nowrap
    
    &:first-child
        margin-left 10px

.list
    background #e2e4e6
    box-sizing border-box
    display flex
    flex-direction column
    max-height 100%
    position relative
    white-space normal
    
.list__label
    lib-m(10px)
    flex: 0 0 auto;
    position: relative;
    min-height: 18px;
    lib-font-size(24)
    line-height 1
    color color-black