.nav
    lib-p-hor()
    lib-p-ver(10px)
    lib-font-size(16)
    display flex
    flex-wrap nowrap
    
.nav__label
    lib-font-size(24)
    line-height 1
    margin 0 layout__offset 0 0
    padding 5px 0