.project-list
    display flex
    justify-content flex-start
    list-style none

.project-list__item
    lib-p(5px layout__offset)
    lib-m(0 layout__offset 0 0)
    cursor pointer
    border 1px solid color-black
    background color-white
    transition: all animation-speed
    &.active
        font-weight bold
        color color-white
        background color-black
        border-color color-white