<nav class="nav">
    <span class="nav__label">Projects:</span>
    <ul class="project-list" data-bind="foreach: projects, scroll: {x: true, y: false}">
        <li class="project-list__item" data-bind="click: $parent.selectProject,css: {active: $parent.activeIndex() === $index()}">
            <span class="project-list__item-title" data-bind="text: name"></span>
        </li>
    </ul>
</nav>
