<div class="task-list" data-bind="sortable: { data: tasks , options: { helper: 'clone', appendTo: 'body' }}">
    <div class="task-list__item" data-bind="event: {click: $parent.setActiveProject.bind($data, $index())}">
        <h4 class="task-list__title" data-bind="text: title"></h4>
        <p class="task-list__description" data-bind="visible: $parent.activeIndex() === $index(), text: description"></p>
    </div>
</div>
<!-- ko component: { name: "add-task", params: {taskList: tasks} } --><!-- /ko -->