.task-list
    flex 1 1 auto
    overflow-y auto
    overflow-x hidden
    margin 0
    padding 0
    z-index 1
    min-height 10px

.task-list__item
    lib-p-vert(3px)
    lib-m(0 10px 10px)
    
    max-width 300px
    background-color color-white
    border-bottom 1px solid #ccc
    cursor pointer
    display block
    padding 0
    min-height 20px
    position relative
    text-decoration none
    z-index 0
    transition: color, background-color animation-speed
    &:hover
    &:focus
    &:active
        color color-white
        background-color color-black
    &:last-of-type
        margin-bottom 0

.task-list__title
    lib-p-hor(8px)
    
    margin 0
    text-transform capitalize

.task-list__description
    lib-p-hor(8px)