<div class="body-view-board-wrapper">
    <div class="body-view-board">
        <header class="header">
            <h1 class="header__title">Review task - Nikita Loshchenin</h1>
        </header>
        <!-- ko component: { name: "project-list"} --><!-- /ko -->
        <div class="content">
            <!-- ko component: { name: "board"} --><!-- /ko -->
        </div>
    </div>
</div>