.body-view-board-wrapper
    background-size cover
    overflow hidden
    height 100%
    position relative
    background-color base-bg-color
    z-index 1

.body-view-board
    height 100%
    position relative
    display flex
    flex-direction column