header-title__color = #7fb3d1;

.header
    lib-p-hor()
    lib-p-ver(10px)
    lib-font-size(16)
    background rgba(0, 0, 0, .15)
    overflow hidden
    z-index 10
    box-shadow 0 1px 1px rgba(0, 0, 0, .1)

.header__title
    color header-title__color
    margin 0
    cursor pointer
    transition color animation-speed
    :hover
    :focus
        color color-white


