lib-m($n = lauout__offset)
    margin $n

lib-m-ver($n = layout__offset)
    margin-top $n
    margin-bottom $n

lib-m-hor($n = layout__offset)
    margin-left $n
    margin-right $n

lib-p($n = layout__offset)
    padding $n

lib-p-ver($n = layout__offset)
    padding-top $n
    padding-bottom $n

lib-p-hor($n = layout__offset)
    padding-left $n
    padding-right $n

lib-font-size($fontValue = base-font-size, $baseFontValue = base-font-size, $baseLineValue = base-line-height)
    font-size ($fontValue / $baseFontValue) rem
    line-height ($baseLineValue/$baseFontValue) * ($fontValue / $baseFontValue) rem