// Base
base-font-size = 10
base-line-height = 16
layout__offset = 2rem

color-white = #fff
color-black = #000

color-primary = #0079bf
color-secondary = #7fb3d1

base-bg-color = color-primary

animation-speed = 300ms