@import '_reset.styl';
@import "_vendor.styl";
@import '_variables'; // Project variables
@import '_mixin.styl';

html
    height 100%
    font-size 10px

body
    lib-font-size(16)
    height 100%
    background-color #edeff0
    z-index 0
    overflow hidden
    font-family 'VT323', monospace

/*
Components
*/
@import "../scripts/components/*/*.styl";